.App {
  text-align: left;
  font-family: "Comfortaa", cursive;
}

.App-logo {
  height: 40px;
  position: relative;
  top: 0.3em;
}

.App-intro {
  font-size: 36px;
  padding: 100px 200px 100px 200px;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

.App-description {
  font-size: 28px;
}

.tables {
  position: relative;
  text-align: center;
}

.email-submission {
  margin-top: 100px;
  text-align: center;
}
