.App {
  text-align: left;
  font-family: "Comfortaa", cursive;
}

.App-logo {
  height: 90px;
}

.App-header {
  background-color: #9575cd;
  height: 150px;
  padding: 35px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 30px;
}

.App-intro {
  font-size: 36px;
  padding: 25px 0px 0px 80px;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

.App-description {
  font-size: 28px;
}
